.iframe_kh_wrapper {
	position:relative;

}
.iframe_kh_wrapper iframe {
	position:relative;
	min-width:730px;
	max-width:100%;
	max-height:100%;
	min-height:633px;
}

.iframe_kh_wrapper iframe iframe {
	width:150px !important;
	height:100px !important;
}

.vh-casino-providers {
	width:100%;
	margin-top:50px;
	margin-bottom:50px;
	border:1px solid #b7cbd7;
}
.vh-casino-providers thead {
	background:#f4f4f4;
	font-weight:bold;
	font-size:14px;
	border-bottom:1px solid #b7cbd7;
}
.vh-casino-providers thead tr th, .vh-casino-providers tbody tr td {
	padding:10px;
	vertical-align:middle;
}
.vh-casino-providers thead tr th {
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
}
.vh-casino-providers tbody tr {
	border-bottom:1px solid #b7cbd7;
}
.vh-bonus {
	font-size:30px;
}
.vh-playnow {
	background:#6ac144;
	padding:15px 35px;
	font-size:18px;
	color:white;
	text-transform:uppercase;
	text-align:center;
	text-decoration:none;
}
