
.app-content {
  height: 100%;
}
.app-content:before,
.app-content:after {
  display: table;
  content: " ";
}

.app-content:after {
  clear: both;
}
.loading-icon {
  margin-top:50%;
  margin-left:50%;
  position: absolute;
  z-index: 10;
  background:white;
  width: 100px;
  height: 100px;
  color: white;
}
#vh-lobby-posts {
  position: relative;
  margin-bottom: 80px;
}
.vh-row-sm {
  margin-right: -10px;
  margin-left: -10px;
}
.vh-row-sm > div {
  margin-right: 5px;
  margin-left: 5px;
}

.vh-item {
  margin-bottom:20px;
  position: relative;
  transition: all .2s ease-in-out;
}
.vh-item:hover {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-box-shadow: 0 0 20px 10px rgba(0,0,0,0.1);
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.1);
  padding: 0;
  position: relative;
  z-index: 110;
}
.overlay-tint {
  width: 100%;
  height: 205px;
  position: absolute;
  top: 0;
  overflow: hidden;
}
.vh-item:hover .overlay-tint {
  background: black;
  z-index: 120;
}
a.play-now {
  background: white;
  padding: 10px 20px;
  position: absolute;
  text-transform: uppercase;
  width: 130px;
  top: 100%;
  left: 30%;
  color: black;
  opacity: 0;
  text-align: center;
  margin:auto;
  overflow: hidden;
  -webkit-border-radius:1000px;
  z-index: 200;
  will-change: opacity,top,background-color;
  -webkit-transition: opacity .15s linear,top 120ms ease-out,background-color 120ms ease-out !important;
  -o-transition: opacity .15s linear,top 120ms ease-out,background-color 120ms ease-out !important;
  transition: opacity .15s linear,top 120ms ease-out,background-color 120ms ease-out !important;
}
.vh-item:hover a.play-now {
  display: inline-block;
  will-change: opacity,top,background-color;
  -webkit-transition: opacity .15s linear,top 120ms ease-out,background-color 120ms ease-out !important;
  -o-transition: opacity .15s linear,top 120ms ease-out,background-color 120ms ease-out !important;
  transition: opacity .15s linear,top 120ms ease-out,background-color 120ms ease-out !important;
  top:42%;
  opacity: 1;
}
.vh-item img {
  width: 100%;
  height: 100%;
}
.vh-item:hover img {
  opacity: .5;
}
.vh-item a.vh-thumb-link {
  height: 205px;
  width: 100%;
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
}

.vh-item a {
  text-decoration:none;
  color:black;
  font-weight:normal;
}

.vh-item:hover img {
  position:relative;

}

.vh-text-white {
  color: #fff;
}
.img-full {
  width: 100%;
}
.vh-item .vh-game-title {
  background:#f6f6f6;;
  padding: 12px 0 16px 0;

}
.vh-item .vh-game-title a {
  font-size:13px;
  text-align: center;
  line-height: 25px;
  width: 100%;
  color: #151515;
  display: inline-block;
  text-transform: uppercase;
  font-weight: normal;
  outline: 0;
}
.vh-item .vh-game-title a:hover {
  color: #000;
}
.vh-game-title, .vh-game-cat {
  text-align:left;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vh-game-cat {
  font-size:13px;
  text-align: center;
  color: #999999;
}
.vh-pagination {
  width:100%;
  clear:both;
  margin:20px 0px;
  display: inline-block;
}
.vh-pagination .next {
  background:#cccccc;
  padding:10px 18px;
  color:#333;
}
.vh-pagination .prev {
  background:#cccccc;
  padding:10px 18px;
  color:#333;
  margin-right:30px;
}
.m-t-sm {
  margin-top: 10px;
  margin-left: 10px;
}
.bg-info {
  color: #dcf2f8;
  background-color: #23b7e5;
}
.app-header-fixed {
  padding-top: 50px;
}
.app.container {
  padding-right: 0;
  padding-left: 0;
}
/* Grid */
.vh-row-sm {
  margin-right: -10px;
  margin-left: -10px;
}
.vh-col-xs-6, .vh-col-sm-4, .vh-col-md-4 {
  width: 50%;
  float:left;
  min-height:1px;
  position:relative;
}


/* Game Page Styling */


@media (min-width: 768px) {
  .app.container {
    width: 920px;
  }
  .vh-col-sm-4 {
    width: 33.33333333%;
  }
}
@media (min-width: 992px) {
.vh-col-md-4 {
  width: 33.33333333%;
}


.vh-app-content,
.vh-lobby-header {
  padding: 20px;
}

/* ---- vh-filters ---- */


.vh-filter {
  padding: 1em 0;
  border: none;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 14px;
  cursor: pointer;
  color: #d3d3d3;
  width:100%;
  box-sizing:border-box;
}
.vh-filter:after {
  content: '';
  display: block;
  clear: both;
}
.vh-filter select {
  background:#f1f1f1 url("../img/dd.png") no-repeat 90%;
  color: #999999;
  text-transform: uppercase;
  height: auto;
  font-size: 14px;
  font-family: "Helvetica", Arial, sans-serif;
  border-radius:1000px;
  padding: 14px 26px;
  -webkit-border-radius:1000px;
  margin-right:15px;
  border:none;
}

.vh-filter select:hover {
  background-color:#2e2e2e;
  color: #ffffff;
  cursor: pointer;
}

.vh-filter:active,
.vh-filter.is-checked {
  background-color: #2e2e2e;
  color: #f4e86b;
}
.vh-filter:focus {
  outline: none;
}

.vh-sorting {
  float: right;
}
.vh-sorting label {
  padding-right: 15px;
  color: #d3d3d3;
  font-size: 14px;
}
.vh-sorting select option {
  background: #2f2f2f;
  padding: 1em 1.5em;
  line-height: 21px;
}

input[type="text"].vh-search {
  font-size: 20px;
  padding: 3px 10px 4px 10px;
  border: #bfbfbf 1px solid;
  margin: 0;
  width: 100%;
  line-height: 27px;
  margin:1em 0;
}

/* ---- isotope ---- */

/* clear fix */
.vh-container:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- game-item ---- */

.vh-item {
  position: relative;
  float: left;
  /*width: 20%;*/
}


@media (min-width: 768px) {
  .app.container {
    width: 920px;
  }
  .vh-item {
    width: 33.33333333%;
  }
  .vh-filter select {
    width: 20%;
    float:left;
  }
}

@media (min-width: 992px) {
  .vh-item {
    width: 23.4%;
    box-sizing:border-box;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .vh-item img {
    height: 142px;
  }
  .vh-item:hover img {
    height: 154px;
  }
}

@media (min-width: 1200px) {
  .vh-item img {

  }
}
