
.app-content {
  height: 100%;
}
.app-content:before,
.app-content:after {
  display: table;
  content: " ";
}

.app-content:after {
  clear: both;
}
.vh-row-sm {
  margin-right: -10px;
  margin-left: -10px;
}
.vh-row-sm > div {
  padding-right: 10px;
  padding-left: 10px;
}

.vh-item {
  margin-bottom:20px;
  position: relative;
  /*min-height: 188px;*/
}
.vh-item img {
  width:100%;
  /*position: absolute;
  bottom: 0;
  background:url("/placeholder-lobby.jpg");*/
}
.vh-item img:hover {
  opacity: 0.8;
}
.vh-item a.vh-thumb-link {
  min-height: 148px;
  width: 100%;
  position: relative;
  display: block;
  overflow: hidden;
}
.vh-item a {
  text-decoration:none;
  margin-top:5px;
  color:black;
  font-weight:normal;
}
.vh-game-title {
  height:20px;
  overflow:hidden;
  width:90%;
}
.vh-item-overlay {
  position: absolute;
  top:-7%;
  width:110%;
  left:-5%;
  height:30%;
  padding: 15% 5% 0 !important;
  /*transition: all 0.3s ease-in-out 0s !important;*/
  z-index: 2;
  opacity: 0;
  text-align:center;
}

.vh-item:hover .vh-item-overlay, .vh-item:focus .vh-item-overlay {
  display:block;
  box-sizing: border-box;
  box-shadow: 0 0px 15px 0px rgba(0,0,0,0.3);
  background-color: rgba(255,255,255,1);
  height: 100%;
  opacity: 1;
}
.vh-item:hover .img-hover {
  background:rgba(0,0,0,.25);
  opacity:0.5;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}
.vh-item-overlay a.vh-play-fun {
  font-size: 16px;
  padding: 15px 40px;
  font-weight: normal;
  display: inline-block;
  box-shadow: 0 0px 10px 0px rgba(0,0,0,0.3);
  background-color: #f4e86b;
  position:relative;
  z-index:5;
  top:70px;
  color:#191919;
}
.vh-item:hover img {
  position:relative;

}
.vh-item-overlay .img-hover {
  width:100%;
  z-index:3;
  margin-top:-74px;
  margin-bottom:10px;
  position:relative;
}
.vh-text-white {
  color: #fff;
}
.img-full {
  width: 100%;
}
.vh-item .vh-game-title a {
  font-size:14px;
  line-height: 25px;
  color: #555;
  text-transform: uppercase;
  font-weight: bold;
  outline: 0;
}
.vh-item .vh-game-title a:hover {
  color: #000;
}
.vh-game-title, .vh-game-cat {
  text-align:left;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vh-game-cat {
  font-size:13px;
  display: none;
}
.vh-pagination {
  width:100%;
  clear:both;

}
.m-t-sm {
  margin-top: 10px;
  margin-left: 10px;
}
.bg-info {
  color: #dcf2f8;
  background-color: #23b7e5;
}
.app-header-fixed {
  padding-top: 50px;
}
.app.container {
  padding-right: 0;
  padding-left: 0;
}
/* Grid */
.vh-row-sm {
  margin-right: -10px;
  margin-left: -10px;
}
.vh-col-xs-6, .vh-col-sm-4, .vh-col-md-4 {
  width: 50%;
  float:left;
  min-height:1px;
  position:relative;
}
.vh-row-sm > div {
  padding-right: 10px;
  padding-left: 10px;
}

/* Game Page Styling */


@media (min-width: 768px) {
  .app.container {
    width: 920px;
  }
  .vh-col-sm-4 {
    width: 33.33333333%;
  }
}
@media (min-width: 992px) {
.vh-col-md-4 {
  width: 33.33333333%;
}


.vh-app-content,
.vh-lobby-header {
  padding: 20px;
}

/* ---- vh-filters ---- */
.vh-filters {
  background: #191919;
  width: 100%;

}
.vh-filters:after {
  content: '';
  display: block;
  clear: both;
}
.vh-filters .vh-filter {
  float: left;
  margin-left: 0;
}

.vh-filter {
  display: inline-block;
  padding: 1em 1.5em;
  background: #191919;
  border: none;
  font-family: 'Open Sans';
  font-size: 14px;
  cursor: pointer;
  color: #d3d3d3;
  margin-bottom:30px;
  width:100%;
  box-sizing:border-box;
}
.vh-filter select {
    background:#2e2e2e url("../img/vh-sort-icon.jpg") no-repeat 95%;
    border-color:#4a4a4a !important;
    border-width:1px !important;
    border-style: solid !important;
    color:white;
    padding:4px 20px;
    border:0;
    margin:0 15px 0 0;
    font-size:15px;
}
.vh-filter select:hover {
  background-color:#2e2e2e;
  color: #ffffff;
  cursor: pointer;
}

.vh-filter:active,
.vh-filter.is-checked {
  background-color: #2e2e2e;
  color: #f4e86b;
}
.vh-filter:focus {
  outline: none;
}

.vh-sorting {
  float: right;
}
.vh-sorting label {
  padding-right: 15px;
  color: #d3d3d3;
  font-size: 14px;
}
.vh-sorting select option {
  background: #2f2f2f;
  padding: 1em 1.5em;
  line-height: 21px;
}

input[type="text"].vh-search {
  font-size: 20px;
  padding: 3px 10px 4px 10px;
  border: #bfbfbf 1px solid;
  margin: 0;
  width: 100%;
  line-height: 27px;
  margin:1em 0;
}

/* ---- isotope ---- */

/* clear fix */
.vh-container:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- game-item ---- */

.vh-item {
  position: relative;
  float: left;
  /*width: 20%;*/
}


@media (min-width: 768px) {
  .app.container {
    width: 920px;
  }
  .vh-item {
    width: 33.33333333%;
  }
  .vh-filter select {
    width: 20%;
    float:left;
  }
}

@media (min-width: 992px) {
  .vh-item {
    width: 24.333333%;
    box-sizing:border-box;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .vh-item img {
    height: 142px;
  }
}

@media (min-width: 1200px) {
  .vh-item img {
    height: 174px;
  }
}
