/* VegasHero 1.8.0 */

.app-content {
  height: 100%;
}
.app-content:before,
.app-content:after {
  display: table;
  content: " ";
}

.app-content:after {
  clear: both;
}

.cssload-spin-box {
  position: absolute;
  margin: 10px auto;
  left: 0;
  top: 40px;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  box-shadow: 15px 15px rgba(79,77,73,0.44), -15px 15px rgba(223,223,223,0.72), -15px -15px rgba(79,77,73,0.68), 15px -15px rgba(223,223,223,0.7);
    -o-box-shadow: 15px 15px rgba(79,77,73,0.44), -15px 15px rgba(223,223,223,0.72), -15px -15px rgba(79,77,73,0.68), 15px -15px rgba(223,223,223,0.7);
    -ms-box-shadow: 15px 15px rgba(79,77,73,0.44), -15px 15px rgba(223,223,223,0.72), -15px -15px rgba(79,77,73,0.68), 15px -15px rgba(223,223,223,0.7);
    -webkit-box-shadow: 15px 15px rgba(79,77,73,0.44), -15px 15px rgba(223,223,223,0.72), -15px -15px rgba(79,77,73,0.68), 15px -15px rgba(223,223,223,0.7);
    -moz-box-shadow: 15px 15px rgba(79,77,73,0.44), -15px 15px rgba(223,223,223,0.72), -15px -15px rgba(79,77,73,0.68), 15px -15px rgba(223,223,223,0.7);
  animation: cssload-spin ease infinite 4.6s;
    -o-animation: cssload-spin ease infinite 4.6s;
    -ms-animation: cssload-spin ease infinite 4.6s;
    -webkit-animation: cssload-spin ease infinite 4.6s;
    -moz-animation: cssload-spin ease infinite 4.6s;
}



@keyframes cssload-spin {
  0%,
  100% {
    box-shadow: 15px 15px rgba(79,77,73,0.72), -15px 15px rgba(223,223,223,0.71), -15px -15px rgba(79,77,73,0.58), 15px -15px rgba(223,223,223,0.72);
  }
  25% {
    box-shadow: -15px 15px rgba(223,223,223,0.81), -15px -15px rgba(79,77,73,0.68), 15px -15px rgba(223,223,223,0.83), 15px 15px rgba(79,77,73,0.71);
  }
  50% {
    box-shadow: -15px -15px rgba(79,77,73,0.73), 15px -15px rgba(223,223,223,0.72), 15px 15px rgba(79,77,73,0.76), -15px 15px rgba(223,223,223,0.7);
  }
  75% {
    box-shadow: 15px -15px #dfdfdf, 15px 15px #4f4d49, -15px 15px #dfdfdf, -15px -15px #4f4d49;
  }
}

@-o-keyframes cssload-spin {
  0%,
  100% {
    box-shadow: 15px 15px rgba(79,77,73,0.72), -15px 15px rgba(223,223,223,0.71), -15px -15px rgba(79,77,73,0.58), 15px -15px rgba(223,223,223,0.72);
  }
  25% {
    box-shadow: -15px 15px rgba(223,223,223,0.81), -15px -15px rgba(79,77,73,0.68), 15px -15px rgba(223,223,223,0.83), 15px 15px rgba(79,77,73,0.71);
  }
  50% {
    box-shadow: -15px -15px rgba(79,77,73,0.73), 15px -15px rgba(223,223,223,0.72), 15px 15px rgba(79,77,73,0.76), -15px 15px rgba(223,223,223,0.7);
  }
  75% {
    box-shadow: 15px -15px #dfdfdf, 15px 15px #4f4d49, -15px 15px #dfdfdf, -15px -15px #4f4d49;
  }
}

@-ms-keyframes cssload-spin {
  0%,
  100% {
    box-shadow: 15px 15px rgba(79,77,73,0.72), -15px 15px rgba(223,223,223,0.71), -15px -15px rgba(79,77,73,0.58), 15px -15px rgba(223,223,223,0.72);
  }
  25% {
    box-shadow: -15px 15px rgba(223,223,223,0.81), -15px -15px rgba(79,77,73,0.68), 15px -15px rgba(223,223,223,0.83), 15px 15px rgba(79,77,73,0.71);
  }
  50% {
    box-shadow: -15px -15px rgba(79,77,73,0.73), 15px -15px rgba(223,223,223,0.72), 15px 15px rgba(79,77,73,0.76), -15px 15px rgba(223,223,223,0.7);
  }
  75% {
    box-shadow: 15px -15px #dfdfdf, 15px 15px #4f4d49, -15px 15px #dfdfdf, -15px -15px #4f4d49;
  }
}

@-webkit-keyframes cssload-spin {
  0%,
  100% {
    box-shadow: 15px 15px rgba(79,77,73,0.72), -15px 15px rgba(223,223,223,0.71), -15px -15px rgba(79,77,73,0.58), 15px -15px rgba(223,223,223,0.72);
  }
  25% {
    box-shadow: -15px 15px rgba(223,223,223,0.81), -15px -15px rgba(79,77,73,0.68), 15px -15px rgba(223,223,223,0.83), 15px 15px rgba(79,77,73,0.71);
  }
  50% {
    box-shadow: -15px -15px rgba(79,77,73,0.73), 15px -15px rgba(223,223,223,0.72), 15px 15px rgba(79,77,73,0.76), -15px 15px rgba(223,223,223,0.7);
  }
  75% {
    box-shadow: 15px -15px #dfdfdf, 15px 15px #4f4d49, -15px 15px #dfdfdf, -15px -15px #4f4d49;
  }
}

@-moz-keyframes cssload-spin {
  0%,
  100% {
    box-shadow: 15px 15px rgba(79,77,73,0.72), -15px 15px rgba(223,223,223,0.71), -15px -15px rgba(79,77,73,0.58), 15px -15px rgba(223,223,223,0.72);
  }
  25% {
    box-shadow: -15px 15px rgba(223,223,223,0.81), -15px -15px rgba(79,77,73,0.68), 15px -15px rgba(223,223,223,0.83), 15px 15px rgba(79,77,73,0.71);
  }
  50% {
    box-shadow: -15px -15px rgba(79,77,73,0.73), 15px -15px rgba(223,223,223,0.72), 15px 15px rgba(79,77,73,0.76), -15px 15px rgba(223,223,223,0.7);
  }
  75% {
    box-shadow: 15px -15px #dfdfdf, 15px 15px #4f4d49, -15px 15px #dfdfdf, -15px -15px #4f4d49;
  }
}
ul#vh-lobby-posts {
  position: relative;
  margin:0 0 20px 0;
  padding:0;
  min-height: 100px;
}


.vh-item {
  float: left;
  position: relative;
  padding: 0 10px!important;
  box-sizing:border-box;
  margin:0 0 15px 0 !important;
  list-style-type: none!important;
  background: none!important;
}
.vh-item img {
  width: 100%;
  padding: 0;
  /*height: 166px;*/
}
.vh-item:hover img {
  opacity: .5;
}
.vh-item a > div {
  /*position: relative;*/
  display: block;
  overflow: hidden;
  z-index: 120;
  background: #F1F1F1;
  outline: none;
  line-height: 0;
}
.play-now {
  background: white;
  padding: 6px 10px;
  position: absolute;
  text-transform: uppercase;
  width: 60%;
  top: 100%;
  font-size: 14px;
  line-height: 23px;
  left:15%;
  right:15%;
  color: black;
  opacity: 0;
  text-align: center;
  margin:auto;
  overflow: hidden;
  border-radius:1000px;
  -webkit-border-radius:1000px;
  z-index: 200;
  will-change: opacity,top,background-color;
  -webkit-transition: opacity .15s linear,top 120ms ease-out,background-color 120ms ease-out !important;
  -o-transition: opacity .15s linear,top 120ms ease-out,background-color 120ms ease-out !important;
  transition: opacity .15s linear,top 120ms ease-out,background-color 120ms ease-out !important;
}
.vh-item .vh-overlay img {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  margin:0;
  display: block;
}
.vh-item:hover .vh-overlay {
  background: #000;
}
.vh-item:hover .play-now {
  display: inline-block;
  will-change: opacity,top,background-color;
  -webkit-transition: opacity .15s linear,top 120ms ease-out,background-color 120ms ease-out !important;
  -o-transition: opacity .15s linear,top 120ms ease-out,background-color 120ms ease-out !important;
  transition: opacity .15s linear,top 120ms ease-out,background-color 120ms ease-out !important;
  top:42%;
  opacity: 1;
}

.vh-item a.vh-thumb-link {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
}

.vh-item a {
  text-decoration:none;
  color:black;
  font-weight:normal;
}

.vh-text-white {
  color: #fff;
}
.img-full {
  width: 100%;
}
.vh-item .vh-game-title {
  font-size: 15px;
  color:#525d64;
  line-height: 18px;
  height: 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding:0 15px;
  white-space: pre-wrap;
  background:#f1f1f1;
  vertical-align: middle;
  text-transform: capitalize;
}
.vh-pagination {
  width:100%;
  clear:both;
  margin:20px 0px;
  display: inline-block;
  text-align: center;
}
.vh-pagination .prev,
.vh-pagination .next {
  background:#f1f1f1;
  font-size: 14px;
  border-radius:1000px;
  padding: 14px 26px;
  border-radius:1000px;
  -webkit-border-radius:1000px;
  color:#999999;
  margin: 5px 10px;
  width: 130px;
  display: inline-block;
  text-decoration: none;
}
.bg-info {
  color: #dcf2f8;
  background-color: #23b7e5;
}
.app-header-fixed {
  padding-top: 50px;
}
.app.container {
  padding-right: 0;
  padding-left: 0;
}

/* Game Page Styling */

.vh-app-content,
.vh-lobby-header {
  padding: 20px;
}

/* ---- vh-filters ---- */


.vh-filter {
  border: none;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 14px;
  color: #d3d3d3;
  width:100%;
  box-sizing:border-box;
  margin-bottom: 15px;
  text-align: center;
  display: inline-block;
}

.vh-filter:after {
  clear: both;
}
.vh-filter select {
  text-align: left;
  color: #999999;
  height: auto;
  font-size: 13px;
  font-family: "Helvetica", Arial, sans-serif;
  margin-right:15px;
  border:1px solid #f4f4f4;
  outline: none;
  padding: 5px;
}
.vh-filter select:hover {
  background-color:#2e2e2e;
  color: #ffffff;
  cursor: pointer;
}

.vh-filter:focus {
  outline: none;
}

.vh-filter input[type="text"].vh-search {
  float: right;
  width: 20%;
  height: auto;
  font-size: 13px;
  border:1px solid #f4f4f4;
  outline: none;
  padding: 5px 10px;
  margin-right: 10px;
  margin-left: 15px;
}


/* ---- isotope ---- */

/* clear fix */
.vh-container:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- game-item ---- */


.vegashero_games .entry-title {
  text-transform: capitalize;
}
.vh-linklove {
  width: 100%;
  text-align: center;
  font-size:12px;
  color:#999999!important;
  font-weight: bold;
  opacity: 0.4;
}
.vh-linklove a {
  font-size:12px;
  font-weight: bold;
  color:#999999!important;
  border: none!important;
  text-decoration: none!important;
  margin-bottom: 30px;
  display: inline-block;
  outline: none;
}

ul#vh-lobby-posts-grid {
  margin: 20px 0;
  padding: 0;
  float: left;
  width: 100%;
}

.loading-icon {
  color: #999999;
  padding: 15px;
  display: block;
  text-align: center;
}

/*pokatheme compatibility*/
.text-area>ul>li.vh-item:before {
  content:'';
  padding: 0;
}


@media (min-width: 992px) {
  .vh-filter select {
    width: 22%;
    float:left;
  }
  .vh-filter select:first-child {
    margin-left:10px;
  }
}

@media (min-width: 993px) {
  .vh-item {
    width: 25%;
  }
}

@media (max-width: 480px) {
  .vh-filter select {
    margin-right: 0;
    margin-top:7px;
  }
  .vh-filter input[type="text"].vh-search {
    float: none;
    margin: 7px auto;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .vh-filter .play-now {
    display: none;
  }
  .vh-item:hover .play-now {
    display: none;
  }
  .vh-item img {
    width: auto;
    height: auto;
  }
}

@media (min-width: 480px) and (max-width: 992px) {
  .vh-item {
    width: 50%;
  }
  .vh-filter input[type="text"].vh-search {
    float: none;
    width: 50%;
  }
}

@media (min-width: 1400px) {
  .vh-filter input[type="text"].vh-search {
    width: 25%;
  }
}

