<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Lobby Template</title>
  <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />

  <link rel="stylesheet" href="css/vh-lobby.css" type="text/css" />
</head>
<body>
  <div class="app app-header-fixed container" id="app">
<div class="hbox hbox-auto-xs hbox-auto-sm">
  <div class="app-content">
  <!-- main -->
  <div class="col wrapper-lg">
    <h3 class="font-thin m-t-n-xs m-b">Lobby Games</h3>
    <div class="row vh-row-sm">
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
        <div class="item">
          <div class="pos-rlt">
            <div class="top">
              <span class="badge bg-info">04:10</span>
            </div>
            <div class="item-overlay">
              <div class="center text-center">
                <a><i class="vh-play-fun">Play for fun</i></a><br>
                <a><i class="vh-play-real">Play for real</i></a>
              </div>
            </div>
            <a ><img src="img/game01.jpg" alt="" class="img-full r r-2x"></a>
          </div>
          <div class="padder-v">
            <a class="text-ellipsis">Tempered Song</a>
            <a class="text-ellipsis text-xs text-muted">Miaow</a>
          </div>
        </div>
      </div>


      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
        <div class="item">
          <div class="pos-rlt">
            <div class="item-overlay  r r-2x">
              <div class="center text-center m-t-n w-full">
                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
              </div>
            </div>
            <a ui-sref="music.detail"><img src="img/game02.jpg" alt="" class="img-full r r-2x"></a>
          </div>
          <div class="padder-v">
            <a ui-sref="music.detail" class="text-ellipsis">Vivamus vel tincidunt libero</a>
            <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted">Lauren Taylor</a>
          </div>
        </div>
      </div>
      <div class="clearfix visible-xs"></div>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">

        <div class="item">
          <div class="pos-rlt">
            <div class="item-overlay  r r-2x">
              <div class="center text-center m-t-n w-full">
                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
              </div>
            </div>
            <a ui-sref="music.detail"><img src="img/game03.jpg" alt="" class="img-full r r-2x"></a>
          </div>

          <div class="padder-v">
            <a ui-sref="music.detail" class="text-ellipsis">Morbi id neque quam liquam sollicitudin</a>
            <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted">Allen JH</a>
          </div>
        </div>

      </div>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
        <div class="item">
          <div class="pos-rlt">
            <div class="item-overlay  r r-2x">
              <div class="center text-center m-t-n w-full">
                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
              </div>
            </div>
            <div class="top w-full">
              <span class="pull-right m-t-n-xs m-r-sm text-white">
                <i class="fa fa-bookmark i-lg"></i>
              </span>
            </div>
            <a ui-sref="music.detail"><img src="img/game04.jpg" alt="" class="img-full r r-2x"></a>
          </div>
          <div class="padder-v">
            <a ui-sref="music.detail" class="text-ellipsis">Tincidunt libero</a>
            <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted">Amanda Conlan</a>
          </div>
        </div>
      </div>
      <div class="clearfix visible-xs"></div>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
        <div class="item">
          <div class="pos-rlt">
            <div class="item-overlay  r r-2x">
              <div class="center text-center m-t-n w-full">
                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
              </div>
            </div>
            <a ui-sref="music.detail"><img src="img/game05.jpg" alt="" class="img-full r r-2x"></a>
          </div>
          <div class="padder-v">
            <a ui-sref="music.detail" class="text-ellipsis">Fermentum diam</a>
            <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted">Nisa Colen</a>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
        <div class="item">
          <div class="pos-rlt">
            <div class="top w-full">
              <span class="pull-right m-t-sm m-r-sm badge bg-info">6</span>
            </div>
            <div class="item-overlay  r r-2x">
              <div class="center text-center m-t-n w-full">
                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
              </div>
            </div>
            <a ui-sref="music.detail"><img src="img/game01.jpg" alt="" class="img-full r r-2x"></a>
          </div>
          <div class="padder-v">
            <a ui-sref="music.detail" class="text-ellipsis">Habitant</a>
            <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted">Dan Doorack</a>
          </div>
        </div>
      </div>
      <div class="clearfix visible-xs"></div>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
        <div class="item">
          <div class="pos-rlt">
            <div class="item-overlay  r r-2x">
              <div class="center text-center m-t-n w-full">
                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
              </div>
            </div>
            <a ui-sref="music.detail"><img src="img/game02.jpg" alt="" class="img-full r r-2x"></a>
          </div>
          <div class="padder-v">
            <a ui-sref="music.detail" class="text-ellipsis">Vivamus vel tincidunt libero</a>
            <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted">Ligula H</a>
          </div>
        </div>
      </div>

      </div>
    </div>

  </div>
</div>
</div>
<!-- / main -->

</div>
</div>
</body>
</html>
